body{
    font-style: arial;
    background-color: black;
    color : white;
    font-family:sans-serif
}
H1{
    font-size: 30px;
    text-align: center;
}
strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

p{
    font-size: 25px;
    padding: 20px;
}

video{
    height: 200;
}

.video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
H3, h5, h6{
    font-size: 100%;
    padding-right: 10px;
    margin-top: 3%;
}

.musique{
    text-align: right;
    margin-bottom: 0%;
    padding-bottom: 5px;
}

.taishou{
    margin-left: 80%;
}

audio{
    margin-left: 77%; 
    padding-top: 2px;
}

.carte_article {
    border-style: solid;
    border-width: 3px;
    border-color: #00acee;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:5px ;
    margin: 5px;
}

img{
    width: 200;
}






